.pastbook-title {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.photogrid-header {
    margin-bottom: 2rem;
}

.photogrid-button {
    display:flex;
    justify-content: flex-end;
    margin-right:2rem;
}

.confirm-button {
    background-color: #000080;
    border-radius: 2rem;
    border-color: #000080;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;    
}

